<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>List of all movies</h1>
  <%= link_to "New movie", new_movie_path, class: "btn btn-primary" %>
</div>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-4 mb-4">
      <%= render partial: "movies/movie", locals: { movie: movie } %>
    </div>
  <% end %>
</div>

<% if @movies.empty? %>
  <div class="text-center mt-5">
    <h3>No movies yet!</h3>
    <p>Get started by adding your first movie.</p>
    <%= link_to "Add New Movie", new_movie_path, class: "btn btn-primary" %>
  </div>
<% end %>
